/**
* @ base css include. Base styling.
**/

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

$bodyfont: 'Open Sans', sans-serif;
$bodycolor: #333;
$linkcolor: #f05a8a;
$linkaltcolor:#f7a045;
$fadecolor: #999;
$darkbuttonhover: #292929;
$bright: #fff;
$headerfont:"futura-pt",sans-serif;
$confont:"futura-pt-condensed",sans-serif;
$cursive:"Grand Hotel", cursive;
//$headerfont:"futura-pt-condensed",sans-serif;
$h2size:3rem;
$h3size:2.4rem;
$h4size:1.3rem;

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html{
	font-size:62.5%;
}
body{
	font-family: $bodyfont;
	color:#333;
	@include font-size(1.4);
}
h1{
	font-family:$headerfont;
	font-weight:800;
	@include font-size(4);
	text-transform:uppercase;
}
h2,h3{
	font-family:$confont;
	font-weight:500;
	font-style: oblique;
	@include font-size(3);
}
h3{
	@include font-size(2.4);
}
h4{
	@include font-size(1.3);
	font-weight:500;
}
p,li{
	@include font-size(1.3);
	line-height:21px;
}
.main p{
	margin-bottom:1em;
}
article li, main li{
	margin-left: 1em;
}
a{
	text-decoration:none;
}
article a{
	color: $linkcolor;
}
a.btn , input.button{
	font-family: $bodyfont;
	font-size:1.4rem;
	color:#fff;
	background-color: $linkcolor;
	display:inline-block;
	font-weight:400;
	padding:10px 15px;
	text-decoration:none;
	@include transition-duration(0.3s);
	@include transition-property(background-color);	
	padding:10px 35px;
	border:0;
}
.wrap{
	overflow:hidden;
}
.btn.buy, input.button{
	font-family: $cursive;
	@include font-size(2.2);
	padding:13px 18px;
}
.btn.buy{
	@include font-size(2.8);
	display:none;
	position:absolute;
	right:30px;
	top:30px;
}
.btn:hover, .button:hover{
	background-color: #f7a045;
}
a.watchvid, a.profile{
	background-color:#000;
	display:block;
	background:url('/img/watch.png') no-repeat;
	width:146px;
	height:58px;
	background-size: 146px 58px;
	text-indent:-10000em;
}
a.profile{
	background: url('/img/profile.png') no-repeat;
	background-size: 146px 58px;
	margin-top:15px;
}
.hide{
	display:none;
}
.addpadding{padding: 0 19px; position:relative;}
.slidecontent .addpadding{padding: 0 50px;}
.contact h1{
	margin-left:19px;
}
span.tag{
	@include font-size(2);
	font-family: $confont;
	font-style:oblique;
	color:#fff;
	background-color:$linkaltcolor;
	padding:4px;
	text-transform:uppercase;
}






