.featuredimage{
	position:relative;
	img{
		display:block;
		width:100%;
	}
	time{
		position:absolute;
		top:20px;
		left:20px;
		background-color:$linkaltcolor;
		color:#fff;
		font-family: $headerfont;
		text-align:center;
		padding:15px;
		@include font-size(1.8);
	}
}
.main h2{
	margin:0.8em 0 0.5em;
	text-transform:uppercase;
}
/* artists */
.artistlink{float:right;}
.artistlink{
	a{
		font-weight:800;
		@include font-size(1.5);
		padding-right:30px;
		background: url(../img/chain.svg) no-repeat right 50%;

	}
}

article.marcato_artist{
	overflow:hidden;
	padding-bottom:30px;
}
article.marcato_artist div {padding-bottom:40px;}
.related{
	clear:both;
	margin-bottom:40px;
	padding-top:40px;
	border-top:1px dashed #ccc;
}
.articlesocial{
	padding:3em 0;
	border-bottom:1px dashed #ccc;
	overflow:hidden;
	margin-bottom:1em;
}
.articlesocial .hash{
	color: $linkcolor;
	@include font-size(1.6);
	font-weight: 600;
	float:right;
	text-transform: none;
}

.rrssb-buttons{
	float:right;
}
.rrssb-buttons .facebook a{
	background: url("../img/facebook.svg") no-repeat 8px 50%;
	background-size: 16px 16px;
}

/* sidebar */
.widget_categories h3{
	font-family: $bodyfont;
	@include font-size(1.6);
	font-weight:800;
	font-style: normal;
	text-transform:uppercase;
	margin-bottom:2em;
	position:relative;
}
.widget_categories h3 a{
	color: $bodycolor;
}
.widget_categories h3:after{
	height: 3px;
	background-color: #333;
	width: 10%;
	display:block;
	content: '';
	margin-top:12px;
	@include transition-duration(1s);
	@include transition-property(width);	
}
.sidebar:hover .widget_categories h3:after{
	width:100%;
}
li.cat-item, ul.product_list_widget li{
	margin: 0.5em 0;
	color: $linkcolor; 
}
li.cat-item a, ul.product_list_widget li a{
	color: #333;
	&:before{
		content: '+ ';
	}
}
li.cat-item a.current{
	color:$linkcolor;
}
/* front page items */

.news-cta{
	position: relative;	
}

.news-cta img{
	width: 100%;
	display:block;
}
.news-cta time{
	position: absolute;
	top:15px;
	left: 34px;
	background-color: $linkaltcolor;
	color:#fff;
	font-family: $headerfont;
	font-weight: 500;
	text-align:center;
	padding: 15px;
}
.news-cta h2{
	color: $linkcolor;
}
.advert{

	text-align:center;
	@include font-size(0.9);
	float:left;
	width:300px;
	margin-left: 19px;
	text-transform:uppercase;
}
.advert span{
	background-color: #efefef;
	display:block;
	text-align: center;
	padding: 5px 0;
	letter-spacing: 0.05em;
}
.advert img{
	display:block;	
}
a.merch{
	display:block;
	margin-top: 40px;
	&:hover{text-decoration:none;}
}

a.merch img{
	width:100%;
	display:block;
}
a.merch span{
	font-family: $headerfont;
	font-weight: 800;
	color: #fff;
	padding:20px 10px;
	display: block;
	background-color:$linkcolor;
	@include font-size(2.5);

}


/* lineup section */
.lineup .maincontainer{padding-top:10px;}
#lineup-filter{
	overflow:hidden;
	display:inline-block;
	background-color: #000;
	color:$linkaltcolor;
	padding: 0 20px;
}
#lineup-filter li{
	display:inline-block;
	text-transform:uppercase;
	font-style:oblique;
	@include font-size(1.5);
	font-family: $confont;
}


#lineup-filter li span{
	color:#fff;	
	display:block;
	padding: 10px 0px;
	&:hover{
		background-color:#000;
		cursor: pointer;
	}
}
#lineup-filter li span.active{
	color: $linkcolor;
}
#lineupsel h2{
	color:#fff;
	font-style:normal;
	font-family: $headerfont;
	font-weight:800;
	@include font-size(2);
	padding-bottom:12px;
	margin-top:30px;
	border-bottom: 1px dashed #fff;
}
#lineuplist strong{
	margin-top:1em;
	margin-bottom:10px;
	display:inline-block;
	background-color: #000;
	color: $linkaltcolor;
	font-family: $headerfont;
	text-transform:uppercase;
	@include font-size(2.5);
	padding:6px;
	font-weight:800;
}
#lineuplist li{
	margin-left:0;
}
#lineuplist li ul{
	clear:both;
}
#lineuplist li.act{
	text-transform: uppercase;
}
#lineuplist li.act a{
	color: #333;
	&:hover{
		color:#fff;
		text-decoration:none;
	}
}
#lineuplist{text-align:left;}
#lineuplist li.act{
	font-family: $confont;
	@include font-size(2);
	margin: 10px 10px 0 0px;
	display:none;
}
#lineuplist li.act:after{
	content: '/';
	font-family: arial;
	padding-left:10px;
	color:$linkaltcolor;
	display:inline-block;
}
#lineuplist li.act:last-child:after{
	content: '';
}

/* gravity form styles */
.gform_wrapper{
	max-width:768px;
	padding:20px;
}
.gform_validation_container{
	display:none;
}
.gform_wrapper label.gfield_label{
	font-weight:600;
	display:block;
}
.gform_wrapper .gfield{
	overflow:hidden;
	clear:both;
	margin: 0 0 20px 0;
}
.gform_wrapper input[type="text"], .gform_wrapper textarea{
	outline: 0;
	border: 1px solid #ccc;
	padding:6px 8px;
	width:100%;
}

.ginput_left, .ginput_right{
	width:45%;
	float:left;
	display:block;
}
.ginput_left label, .ginput_right label{
	display:block;
}
.ginput_right{float:right;}
.ginput_counter{
	@include font-size(1);
	color:#888;
}
/* schedule page */
#mixincontainer{clear:both;}
#mixincontainer .mix{
	position:relative;
	display:none;
	clear:both;
	padding:60px 40px;
		@include font-size(1.3);
		line-height:21px;
	h3{
		text-transform: uppercase;
	}
	.eventdescription{
		@include perspective(600px);
		width:100%;
		float:left;
		h3{@include font-size(3);}
		strong{
			color:#999;
			font-weight:600;
		}
		p{
			margin:30px 0;
			font-family: $bodyfont;
		}
		.articlesocial{
			border: 0;
		}
	}
	.eventdetails{
		float:left;

		strong{
			font-weight:600;
		}
	}
}
.eventdetails .eventtime,.eventdetails .directions{
	float: left;
	margin-right:40px;
}
.uparrow{
	position:absolute;
	display:block;
	right:0;
	float:right;
	width:30px;
	height:30px;
	cursor:pointer;
	background-color:#ccc;
	
}
.uparrow:before{
	content:'';
	width:11px;
	height:11px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-6px;
	margin-top:-6px;
	background: #ccc url(../img/arrow-grey.svg) no-repeat 50% 50%;
	background-size: 11px 11px;

	@include rotate(270deg);
	@include transition-duration(0.6s);
	@include transition-property(all);
}

.uparrow.closed:before{
	@include rotate(90deg);
}


.eventextra{
	@include rotateX(0);
	@include transition-duration(0.6s);
	@include transition-property(all);
	@include opacity(1);
	max-height: 600px;
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	transform-origin: top;

	transform-style: 'perserve-3d';
}
.eventextra.closed{
	max-height:0px;
	@include opacity(0);
	@include rotateX(-90deg);
}


#date-filter{
	margin-top:50px;
	overflow:hidden;
	border-bottom: 15px solid #ee5371;
	@include transition-duration(1s);
	@include transition-property(border-color);
}
#date-filter li{
	margin:0;
	display:block;
	float:left;
	@include font-size(2);
	color:#fff;
	background-color: #000;
	width: 20%;
}
#date-filter span.month{
	display:none;
	@include font-size(1.5);
	font-family: $confont;
	font-weight:300;
	font-style: oblique;
	letter-spacing:0em;
}
#date-filter span{
	text-align:center;
	letter-spacing:-0.06em;
	color:#fff;
	padding:35px 20px;
	display:block;
	font-weight:800;
	cursor:pointer;
	font-family: $headerfont;
}
#date-filter span.active{
	text-decoration:underline;
}

span.fdate21{background-color:#ee5371;}
span.fdate22{background-color:#f66a69;}
span.fdate23{background-color:#f88752;}
span.fdate24{background-color:#fba542;}
span.fdate25{background-color:#ffcc33;}

#date-filter.fdate21{border-color:#ee5371;}
#date-filter.fdate22{border-color:#f66a69;}
#date-filter.fdate23{border-color:#f88752;}
#date-filter.fdate24{border-color:#fba542;}
#date-filter.fdate25{border-color:#ffcc33;}
#filters{position:relative;}

#extendall, #collapseall{
	font-family: $confont;
	@include font-size(1.5);
	text-transform: uppercase;
	padding: 14px 34px 14px 34px;
	border:0;
	margin-top:15px;
	margin-right:10px;
	position:relative;
}
#extendall{
	background-color: #000;
	color:#fff;
}
#collapseall{
	color: #666;
	background-color:#e7e7e7;
}
#extendall:after, #collapseall:after{
	content:'';
	width:11px;
	height:11px;
	background-size:11px 11px;
	background: url(../img/arrow-grey.svg) no-repeat 50% 50%;
	position:absolute;
	right: 14px;
	top: 50%;
	margin-top: -6px;
	@include rotate(270deg);

}
#extendall:after{
	background: url(../img/arrow-white.svg) no-repeat 50% 50%;
	@include rotate(90deg);
}

#collapseall:before, #extendall:before{
	content: '';
	display:block;
	position:absolute;
	width: 14px;
	height:2px;
	background-color:#666;
	left: 14px;
	top:50%;
	margin-top:-1px;
}
#extendall:before{
	background-color:#fff;
}
form span.required{
	@include font-size(1.2);
	color:#cc2222;
}

/* shop */




