.featuredimage{
	position:relative;
	img{
		display:block;
		width:100%;
	}
	time{
		position:absolute;
		top:20px;
		left:20px;
		background-color:$linkaltcolor;
		color:#fff;
		font-family: $headerfont;
		text-align:center;
		padding:15px;
		@include font-size(1.8);
	}
}
.main h2{
	margin:0.8em 0 0.5em;
	text-transform:uppercase;
}
.articlesocial{
	padding:3em 0;
	border-bottom:1px dashed #ccc;
	overflow:hidden;
	margin-bottom:1em;
}
.articlesocial .hash{
	color: $linkcolor;
	@include font-size(1.6);
	font-weight: 600;
	float:right;
	text-transform: none;
}
.rrssb-buttons{
	float:right;
}
.rrssb-buttons .facebook a{
	background: url("../img/facebook.svg") no-repeat 8px 50%;
	background-size: 16px 16px;
}

/* sidebar */
.widget_categories h3{
	font-family: $bodyfont;
	@include font-size(1.6);
	font-weight:800;
	font-style: normal;
	text-transform:uppercase;
	margin-bottom:2em;
	position:relative;
}
.widget_categories h3:after{
	height: 3px;
	background-color: #333;
	width: 10%;
	display:block;
	content: '';
	margin-top:12px;
	@include transition-duration(1s);
	@include transition-property(width);	
}
.sidebar:hover .widget_categories h3:after{
	width:100%;
}
li.cat-item{
	margin: 0.5em 0;
	color: $linkcolor; 
}
li.cat-item a{
	color: #333;
	&:before{
		content: '+ ';
	}
}
/* front page items */

.news-cta{
	position: relative;	
}

.news-cta img{
	width: 100%;
	display:block;
}
.news-cta time{
	position: absolute;
	top:15px;
	left: 34px;
	background-color: $linkaltcolor;
	color:#fff;
	font-family: $headerfont;
	font-weight: 500;
	text-align:center;
	padding: 15px;
}
.news-cta h2{
	color: $linkcolor;
}
.advert{

	text-align:center;
	@include font-size(0.9);
	float:left;
	width:300px;
	margin-left: 19px;
	text-transform:uppercase;
}
.advert span{
	background-color: #efefef;
	display:block;
	text-align: center;
	padding: 5px 0;
	letter-spacing: 0.05em;
}
.advert img{
	display:block;	
}
a.merch{
	display:block;
	margin-top: 40px;
	&:hover{text-decoration:none;}
}

a.merch img{
	width:100%;
	display:block;
}
a.merch span{
	font-family: $headerfont;
	font-weight: 800;
	color: #fff;
	padding:20px 10px;
	display: block;
	background-color:$linkcolor;
	@include font-size(2.5);

}





