.featuredimage{
	position:relative;
	img{
		display:block;
		width:100%;
	}
	time{
		position:absolute;
		top:20px;
		left:20px;
		background-color:$linkaltcolor;
		color:#fff;
		font-family: $headerfont;
		text-align:center;
		padding:15px;
		@include font-size(1.8);
	}
}
.main h2{
	margin:0.8em 0 0.5em;
	text-transform:uppercase;
}
.articlesocial{
	padding:3em 0;
	border-bottom:1px dashed #ccc;
	overflow:hidden;
	margin-bottom:1em;
}
.articlesocial .hash{
	color: $linkcolor;
	@include font-size(1.6);
	font-weight: 600;
	float:right;
	text-transform: none;
}
.rrssb-buttons{
	float:right;
}
.rrssb-buttons .facebook a{
	background: url("../img/facebook.svg") no-repeat 8px 50%;
	background-size: 16px 16px;
}

/* sidebar */
.widget_categories h3{
	font-family: $bodyfont;
	@include font-size(1.6);
	font-weight:800;
	font-style: normal;
	text-transform:uppercase;
	margin-bottom:2em;
	position:relative;
}
.widget_categories h3 a{
	color: $bodycolor;
}
.widget_categories h3:after{
	height: 3px;
	background-color: #333;
	width: 10%;
	display:block;
	content: '';
	margin-top:12px;
	@include transition-duration(1s);
	@include transition-property(width);	
}
.sidebar:hover .widget_categories h3:after{
	width:100%;
}
li.cat-item{
	margin: 0.5em 0;
	color: $linkcolor; 
}
li.cat-item a{
	color: #333;
	&:before{
		content: '+ ';
	}
}
li.cat-item a.current{
	color:$linkcolor;
}
/* front page items */

.news-cta{
	position: relative;	
}

.news-cta img{
	width: 100%;
	display:block;
}
.news-cta time{
	position: absolute;
	top:15px;
	left: 34px;
	background-color: $linkaltcolor;
	color:#fff;
	font-family: $headerfont;
	font-weight: 500;
	text-align:center;
	padding: 15px;
}
.news-cta h2{
	color: $linkcolor;
}
.advert{

	text-align:center;
	@include font-size(0.9);
	float:left;
	width:300px;
	margin-left: 19px;
	text-transform:uppercase;
}
.advert span{
	background-color: #efefef;
	display:block;
	text-align: center;
	padding: 5px 0;
	letter-spacing: 0.05em;
}
.advert img{
	display:block;	
}
a.merch{
	display:block;
	margin-top: 40px;
	&:hover{text-decoration:none;}
}

a.merch img{
	width:100%;
	display:block;
}
a.merch span{
	font-family: $headerfont;
	font-weight: 800;
	color: #fff;
	padding:20px 10px;
	display: block;
	background-color:$linkcolor;
	@include font-size(2.5);

}


/* lineup section */
.lineup .maincontainer{padding-top:10px;}
#lineup-filter{
	overflow:hidden;
	display:inline-block;
	background-color: #000;
	color:$linkaltcolor;
	padding: 0 20px;
}
#lineup-filter li{
	display:inline-block;
	text-transform:uppercase;
	font-style:oblique;
	@include font-size(2);
	font-family: $confont;
}


#lineup-filter li span{
	color:#fff;	
	display:block;
	padding: 13px 10px;
	&:hover{
		background-color:#000;
		cursor: pointer;
	}
}
#lineup-filter li span.active{
	color: $linkcolor;
}
#lineupsel h2{
	color:#fff;
	font-style:normal;
	font-family: $headerfont;
	font-weight:800;
	@include font-size(6);
	padding-bottom:12px;
	margin-top:30px;
	border-bottom: 1px dashed #fff;
}
#lineuplist strong{
	margin-top:1em;
	margin-bottom:10px;
	display:inline-block;
	background-color: #000;
	color: $linkaltcolor;
	font-family: $headerfont;
	text-transform:uppercase;
	@include font-size(2.5);
	padding:20px;
	font-weight:800;
}
#lineuplist li{
	margin-left:0;
}
#lineuplist li ul{
	clear:both;
}
#lineuplist li.act{
	text-transform: uppercase;
}
#lineuplist li.act a{
	color: #333;
	&:hover{
		color:#fff;
		text-decoration:none;
	}
}
#lineuplist{text-align:left;}
#lineuplist li.act{
	font-family: $confont;
	@include font-size(3);
	margin: 10px 10px 0 0px;
	display:none;
}
#lineuplist li.act:after{
	content: '/';
	font-family: arial;
	padding-left:10px;
	color:$linkaltcolor;
	display:inline-block;
}
#lineuplist li.act:last-child:after{
	content: '';
}