.featuredimage{
	position:relative;
	img{
		display:block;
		width:100%;
	}
	time{
		position:absolute;
		top:20px;
		left:20px;
		background-color:$linkaltcolor;
		color:#fff;
		font-family: $headerfont;
		text-align:center;
		padding:15px;
		@include font-size(1.8);
	}
}
.main h2{
	margin:0.8em 0 0.5em;
	text-transform:uppercase;
}
.articlesocial{
	padding:3em 0;
	border-bottom:1px dashed #ccc;
	overflow:hidden;
	margin-bottom:1em;
}
.articlesocial .hash{
	color: $linkcolor;
	@include font-size(1.6);
	font-weight: 600;
	float:right;
	text-transform: none;
}
.rrssb-buttons{
	float:right;
}
.rrssb-buttons .facebook a{
	background: url("../img/facebook.svg") no-repeat 8px 50%;
	background-size: 16px 16px;
}

/* sidebar */
.widget_categories h3{
	font-family: $bodyfont;
	@include font-size(1.6);
	font-weight:800;
	font-style: normal;
	text-transform:uppercase;
	margin-bottom:2em;
	position:relative;
}
.widget_categories h3:after{
	height: 3px;
	background-color: #333;
	width: 10%;
	display:block;
	content: '';
	margin-top:12px;
	@include transition-duration(1s);
	@include transition-property(width);	
}
.sidebar:hover .widget_categories h3:after{
	width:100%;
}


li.cat-item{
	margin: 0.5em 0;
	color: $linkcolor; 
}
li.cat-item a{
	color: #333;
	&:before{
		content: '+ ';
	}
}