/**
* Header styling.
**/
header.banner {
    height: 58px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 300;
}

header#mainnav{
	background-color: $linkaltcolor;
	@include background-image(linear-gradient($linkaltcolor, $linkcolor));
	padding:3.25em 0;
	background-size: cover;
	width:100%;
	z-index:200;
	overflow:hidden;
}
.lineup header#mainnav{background:none;}
.lineupbackground, body.lineup #mobilecontainer{
	@include background-image(linear-gradient($linkaltcolor , $linkcolor 40%));	
}
.home header#mainnav{
	background:none;
	position:absolute;
	width:100%;
	overflow:visible;
}
header#mainnav img{
	display:block;
	float: left;
	width:150px;
	height:150px;
}
.sites{
	width:100%;
	background-color: #000;
	color:#fff;
	overflow:hidden;
	font-family:$confont;
	font-weight:500;
}
.sites a, .sites span{
	color: #999;
	padding:1.25em 1.65em;
	display:block;
	@include font-size(1.5);
}
.sites a{
	@include transition-duration(0.3s);
	@include transition-property(all);
	&:hover{
		color:$linkcolor;
		background-color: $darkbuttonhover;
	}
}
.sites span{
	color:$bright;
	background:url(/img/arrow.png) no-repeat 0.65em 50%;
	background-size:9px 9px;
}
.sites a.active{
	color:$linkcolor;
	background-color: $darkbuttonhover;
}
.sites li{
	text-transform: uppercase;
	float:left;
	display:none;
}
.sites li.searchbtn{display:block;}
.maincontainer{
	padding-top: 76px;
	padding-bottom: 76px;
}
li.searchbtn{
	position:absolute;
	right: 0;
	text-indent:-1000em;
}
li.searchbtn a{
	padding:19px 29px;
	background: #292929 url('/img/search.svg') no-repeat 50% 50%;
	background-size: 17px 17px;
	@include transition-duration(0.3s);
	@include transition-property(all);
	&:hover{
		background-color: $linkaltcolor;
	}
}
li.searchbtn a.active{
	outline: none;
	background-color: $linkaltcolor;
}
li.searchbtn a:focus{
	outline:none;
}
#searchform{
	padding:20px 60px;
	background-color:$linkaltcolor;
	overflow:hidden;
	margin-top:-160px;
	width:100%;
	@include transition-duration(0.3s);
	@include transition-property(all);
}
#searchform.active{

	margin-top: 0;
}
#searchform label, #searchform input[type="text"]{
	@include font-size(2);
	color:#fff;
	font-family: $headerfont;
	font-weight:800;
	text-transform:uppercase;
	letter-spacing: -0.05em;
	display:inline-block;


}
#searchform input[type="text"]{
		border:0;
		width:80%;
		background-color:$linkaltcolor;

}
