.logo,.navbar-collapse{float:left;}
#menu-primary-navigation{
	margin-top:26px;
	margin-left: 14px;
	overflow:hidden;
	position:inherit;
}

header#mainnav.fixed{
	z-index:301;
}
header#mainnav.fixed .logo{
	display:none;
}
.fixed #menu-primary-navigation{
	position:fixed;
	top:0px;
	z-index: 301;
	margin-top: -3px;
	right: 170px;
	-webkit-animation: moveMenu 0.6s;
	-moz-animation: moveMenu 0.6s;
	animation: moveMenu 0.6s;
}

/* animation here we goes */

@-webkit-keyframes moveMenu{
	from {top:-25px;opacity:0;}
	to {top:0px;opacity:1;}
}
@-moz-keyframes moveMenu{
	from {top:-25px;opacity:0;}
	to {top:0px;opacity:1;}
}
@keyframes moveMenu{
	from {top:-25px;opacity:0;}
	to {top:0px;opacity:1;}
}
#menu-primary-navigation li a{
	@include font-size(1.5);
}
#menu-primary-navigation li, footer .widget_text h3{
	float:left;
	font-family: $headerfont;
	@include font-size(2.5);
	text-transform: uppercase;
	padding:16px 0 16px 16px;
	font-weight:800;
	a{
		padding:6px 6px;
		text-decoration:none;
		color: #fff;
		display:inline-block;
		position:relative;
		z-index:5;
		-webkit-backface-visibility: hidden;
		&:hover{
			background-position:100% 0;
		}
	}
}
#menu-primary-navigation li{
	padding: 16px 5px 10px 3px;
	position:relative;
}
#menu-primary-navigation li a:before, #menu-primary-navigation li.active a:before{
	content:'';
	height:31px;
	width:0%;
	background-color:#000;
	position: absolute;
	top:0;
	left:0;
	z-index:-1;
	@include transition-duration(0.5s);
	@include transition-property(width);
}
#menu-primary-navigation li a:after, #menu-primary-navigation li.active a:after{
	content:'';
	height:2px;
	bottom:2px;
	background-color: #fff;
	width:auto;
	position: absolute;
	left: 6px;
	right: 120px;
	z-index:3;
	@include transition-duration(0.4s);
	@include transition-property(right);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
#menu-primary-navigation li a:hover:before,
#menu-primary-navigation li.active a:before
{width:100%;}
#menu-primary-navigation li a:hover:after, #menu-primary-navigation li.active a:after
{right:6px;}
#menu-secondary-nav{clear:left; margin-left:7px; margin-top:-20px;overflow:hidden;}
#menu-secondary-nav li{
	font-family: $headerfont;
	font-weight: 700;
	float:left;
	@include font-size(1.4);
	padding:16px;
	a{color:#fff; text-transform: uppercase;
		&:hover{
			color: #fff;
			/*text-decoration:underline;*/
			border-bottom: 2px solid #fff;
		}
	}
}

#menu-secondary-nav ul.dropdown-menu{
	position:absolute;
	background-color:#fff;
	
}
#menu-secondary-nav ul.dropdown-menu li{
	display:block;
	float:none;
}
#menu-secondary-nav ul.dropdown-menu li a{
	color: #333;
	&:hover{
		color: $linkcolor;
	}
}

/*
#menu-primary-navigation .menu-lineup:after, #menu-primary-navigation .menu-schedule:after{
	content:"/";
	color:#fff;
	margin-left:15px;
	font-family: 'arial';
	font-weight:300;
}
*/