@media all and (min-width: 768px) {

.slidecontent h2{
	@include font-size(6);
}

#emailform{
	clear:none;
	padding-top:1%;
	padding-bottom:0;
}

.widget_text{
	float:left;
	width:60%
}
.widget_nav_menu{
	float:right;
	width:30%;
}
#copyright p{
	float:left;
}
#copyright ul{
	float:right;
}
#copyright ul li{
	float:right;
	padding-left:10px;
}
.hide{
	display:block;
}
body{padding-top:58px;}
.addpadding{padding: 0 39px;}
.slidecontent .addpadding{padding: 0 80px;}
#searchform label, #searchform input[type="text"]{
	@include font-size(3.5);
}

}

