@media all and (min-width: 992px) {

	#emailform{padding-top:2%;}
	.slidecontent h2{
	@include font-size(9.8);
	}
	#searchform label, #searchform input[type="text"]{
		@include font-size(5);
	}

/* schedule dates */
#date-filter li{
	@include font-size(4);
}
#date-filter span.month{
	@include font-size(3);
}

#filters form{
	position:absolute;
	bottom: 25px;
	right:0;
}
#lineupsel h2{
	@include font-size(6);
}
#lineuplist strong{
	padding:20px;
}
#lineuplist li.act{
	@include font-size(3);
}
#menu-primary-navigation li a{
	@include font-size(2);
}


}